.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: 80%;
}

.gameImage {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.gameDetails {
    font-size: 1.5rem;
    text-align: justify;
}

.fistItem {
    margin-top: 0;
}