strong {
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--color7);
}

.detailsContainer {
    display: flex;
    margin: 100px 20px;
    flex-wrap: wrap;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(255, 255, 255, 0.42);
    padding: 10px;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: 80%;
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
    margin: auto;
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.gameImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gameImage:hover {
    opacity: 0.8;
}

.gameDetails {
    font-size: 1.2rem;
    text-align: justify;
    padding: 0 10px;
}

.fistItem {
    margin-top: 0;
}

@media (max-width: 878px) {
    .detailsContainer {
        align-content: center;
    }
    .imagesContainer {
        grid-template-columns: repeat(auto-fill, 300px);
    }
}
@media (max-width: 500px) {
    .gameDetails {
        font-size: 1rem;
    }
}
@media (max-width: 380px) {
    .gameDetails {
        font-size: .9rem;
    }
    .imagesContainer {
        grid-template-columns: repeat(auto-fill, 300px);
    }
    .gameImage {
        width: 70%;
        height: 90%;
        margin-left: 45px;
    }
}