.gameCard {
    list-style: none;
    color: white;
    background-color: var(--color1);
    text-align: left;
    font-size: 1.5rem;
    height: 300px;
    padding-bottom: 50px;
    border-radius: 9px;
    overflow: hidden;
}

.gameCard:hover {
    opacity: 0.8;
}

.gameImage {
    width: 100%;
    height: 70%;
    background-color: rgb(233, 231, 231);
}

.gameTitle {
    font-size: 1.2rem;
    padding: 10px 20px;
}

@media (max-width: 560px) {
    .gameCard {
        width: 95%;
        font-size: 1rem;
    }
    .gameCard {
        height: auto;
    }
}