.gameCard {
    list-style: none;
    color: white;
    background-color: var(--color1);
    text-align: left;
    font-size: 1.5rem;
    width: 110%;
    height: 280px;
    padding-bottom: 50px;
    border-radius: 9px;
    overflow: hidden;
}

.gameCard:hover {
    opacity: 0.8;
}

.gameImage {
    width: 100%;
    height: 70%;
    background-color: rgb(233, 231, 231);
}

.GameCardBody {
    padding: 10px 20px;
}

.gameTitle {
    font-size: 1.2rem;
}

.gamePlatform {
    font-size: .9rem;
    color: var(--color6);
}

@media (max-width: 560px) {
    .gameCard {
        margin: auto;
        width: 80%;
        height: 250px;
        font-size: 1rem;
    }
    .gameImage {
        height: 200px;
    }
    .gamePlatform {
        font-size: .6rem;
    }
}

@media (max-width: 450px) {
    .gameCard {
        max-width: 80%;
        height: 208px;
    }
    .GameCardBody {
        padding: 0 10px;
    }
    .gameImage {
        height: 130px;
    }
}