.searchContainer {
    display: flex;
    justify-content: center;
    background-color: rgba(14, 7, 22, 0.671);
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
    color: var(--color2);
}

.searchInput {
    height: 30px;
    border-radius: 2px;
    padding: 5px 50px 5px 30px;
    border: 1px solid var(--color3);
    color: var(--color2);
    background-color: var(--color3-opacity);
}
.searchInput:focus, .searchButton:focus {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color2);
    outline: none;
}