.spinner {
    display: flex;
    justify-content: center;
    color: white;
    padding: 180px;
}

.spinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}