@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
  --color1: #1d1721;
  --color2: #3a1f53;
  --color3: #fdfdfd;
  --color4: #1f0e2970;
  --color5: #fdfdfd;
  --color6: #cccaca;
  --color7: #1f0e29;
}

body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--color2);
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
}